@font-face {
    font-family: "Montserrat";
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
}

:root{
    --background-primary-color:#000000;
    --background-secundary-color:#FFFFFF;
    --background-tertiary-color:#F5F5F5;
    --background-quartiary-color:#8F0101;
}

body,img,h1,p,fieldset,legend,label,input,select,textarea,button{
    padding: 0;
    margin: 0;
    box-sizing: border-box  ;
    font-family: Montserrat;
}
