header{
    background-color: var(--background-primary-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 37px 48px;

}

.navigation-menu nav{
    display: none;
}
.navigation-menu nav a{
    color: white;
}

input[type="checkbox"]:checked ~ nav{
    display: block;

}

.logo{
    display: inline-block;
    height: 64px;
    width: 68px;
}
.logo img{
    height: 64px;
    width: 64px;
}